!!!5
html
  head
    title #{title} - Training Plans to Calendar
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Training Plans to Calendar
      h6 (beause I'm lazy)
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p
        a(href='mailto:chris.blazek@gmail.com') copyright chris blazek

