/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #faf9f0

body
  font-family 'Georgia'
  background-color background-color
  color #444

header
  font-family 'Quicksand'
  padding 50px 10px
  color #fff
  font-size 25px
  text-align center

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

/*
.container
  width 500px
  margin 50px auto
  overflow hidden
*/
.main-content
  width 100%

  p
    margin-bottom 20px

.sidebar
  float left
  width 200px

  .widget

    /*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
    border-radius 3px
    border 1px solid #ccc
    margin-left 20px
    background-color background-color
    box-shadow inset 0px 0px 0px 3px rgba(#fff, 0.8), 0px 3px 0px -2px rgba(#000, 0.1)

    h1
      font-family 'Quicksand'
      margin 13px 10px 4px
      padding-bottom 10px
      border-bottom 1px dotted #ddd
      border-radius 2px 2px 0px 0px
      margin-bottom 10px

    p
      font-size 13px
      padding 0px 10px
      margin-bottom 10px

p
  line-height 1.8

h3
  font-size 24.5px

footer
  width 500px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px




body
  /* Change the background image here  */
  background url('/assets/img/bg2.jpg') #000 top center fixed no-repeat
  background-size 150%
  font-family 'Open Sans' sans-serif

a, a:visited
  color #487BD5
  transition all .1s linear

a:hover,a:active
  color #a43053
  text-decoration none

h1,h2,h3,h4,h5,h6
  font-weight 300


h1
  font-weight 300
  font-size 50px
  text-align center
  line-height 55px
  text-shadow 0 1px 1px rgba(0,0,0,0.6)
  margin-bottom 30px

.dark
  color #fff

.center
  float none
  margin 0 auto

/*video background */
#big-video-vid,#big-video-image
  position absolute

#big-video-control-container
  position fixed
  bottom 20px
  padding 0 20px
  width 100%
  transition-duration .6s

#big-video-control
  width 100%
  height 16px
  position relative
  display none

/* Main Container Styles  */
.main-container
  position relative

.main-container
  .container
    padding 30px

/* Section Styles  */
#intro {
    margin-top: 100px;
    text-align: center;
    min-height: 400px;
    padding: 0 0 50px;
}

#intro
  h1
    color #fff

#intro
  p
    padding 15px 0
    color #fff

#about
    background: #fff;

#upload
  background #000
  background rgba(0,0,0,0.8)


/* Navbar Styles  */
.navbar-fixed-top
  margin-bottom 0
  border-top 4px solid #487BD5
  position fixed

.navbar-fixed-top.scroll
  opacity .96

.navbar-inner
  border-bottom 0 none
  box-shadow 0 1px 2px rgba(0,0,0,0.5)
  padding 8px 0 30px
  background #0d0d0d
  background rgba(13,13,13,0.9)

.navbar .brand
  font-size 19px
  font-weight 300
  text-shadow none
  padding 20px 0 0
  font-family raleway
  color #fff!important

.navbar
  .nav.pull-right
    top 10px

.navbar .nav > li > a
  color #F8F8F8
  font-size 15px
  font-weight 300
  text-shadow none
  transition all .1s linear

.navbar .nav li a:hover,.navbar .nav li a:focus
  color #F8F8F8

.navbar .nav > li > a:hover
  color #ccc

.navbar .nav > li.active > a,.navbar .nav > li.active:hover > a,.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > .active > a:focus
  padding-bottom 4px
  box-shadow none
   background none
  color #fff

.btn-dropnav
  float right
  margin-left 5px


.btn-dropnav
  .icon-bar
    background-color #F5F5F5
    box-shadow 0 1px 0 rgba(0,0,0,0.25)
    display block
    height 2px
    width 18px

.btn-dropnav .icon-bar + .icon-bar
  margin-top 3px

.navbar .nav li.dropdown.open > .dropdown-toggle,.navbar .nav li.dropdown.active > .dropdown-toggle,.navbar .nav li.dropdown.open.active > .dropdown-toggle
  background none
  color #fff

.dropdown-menu li > a:hover,.dropdown-menu li > a:focus,.dropdown-submenu:hover > a
  background-color #3B158D!important
  text-decoration none
  color #fff
  background-image linear-gradient(#487BD5,#3B158D)
  background-repeat repeat-x

.navbar .btn-navbar .icon-bar
  display block
  width 18px
  height 2px
  background-color #5FAF08
  border-radius 1px
  box-shadow none

.navbar .btn-navbar
  margin-right 30px

.thumbnail
  text-align center
  border 0
  box-shadow none

.btn-purple
  background-color hsl(259,74%,32%)!important
  background-repeat repeat-x
  background-image linear-gradient(#487BD5,#3B158D)
  border-color #3B158D #3B158D hsl(259,74%,22%)
  color #fff!important
  text-shadow 0 -1px 0 rgba(0,0,0,0.36)
  -webkit-font-smoothing: antialiased

.btn-xlarge
  padding 20px 40px
  font-size 25px
  border-radius 5px

@media (max-width: 979px) {

    .nav-collapse .nav > li > a:hover,.nav-collapse .dropdown-menu a:hover {
        background: none!important;
    }

    .nav-collapse .nav > li > a,.nav-collapse .dropdown-menu a {
        color: #ccc;
    }

    .navbar .brand {
        padding: 8px 0 0 40px;
    }

    body {
        padding-right: 0;
        padding-left: 0;
        background-size: 250%;
    }

    #intro {
        margin-top: 45px;
    }
}

@media (max-width: 767px) {
    body {
        padding-right: 0;
        padding-left: 0;
        background-size: 330%;
    }
}

@media (max-width: 480px) {
    body {
        background-size: 420%;
    }
}
